* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
  height: 100%;
  background-color: #f8f9fa;
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
}

.profile-card {
  background-color: white;
  padding: 30px 20px;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.profile-card h2 {
  text-align: center;
  color: #4A596E;
  margin-bottom: 20px;
  font-size: 24px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.user-info {
  text-align: center;
  font-size: 16px;
  color: #333;
}

.user-info p {
  margin: 10px 0;
}

.btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lgt-btn, .dshb-btn {
  background-color: #4A596E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  width: 300px;
}

.lgt-btn:hover {
  background-color: #003366; 
}

.uploaded-documents {
  background-color: white;
  padding: 30px 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.uploaded-documents h3 {
  color: #4A596E;
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.document-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

.document-table th, .document-table td {
  padding: 12px 20px;
  border: 1px solid #ddd;
}

.document-table th {
  background-color: #4A596E;
  color: white;
}

.document-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.document-table tr:hover {
  background-color: #ddd;
}

.view-btn {
  background-color: #4A596E;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.view-btn:hover {
  background-color: #003366;
}

@media (max-width: 768px) {
  .profile-card, .uploaded-documents {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .profile-card, .uploaded-documents {
    width: 95%;
  }

  .document-table {
    width: 100%;
  }
}
